pre {
    white-space: pre-wrap;
    -moz-user-select: text;
    font-size: 0.8em;
    margin-top: 4px;
}

.panel-section-footer {
    overflow: hidden;
    background: white;
    cursor: pointer;
}

.panel-section-footer-button:hover {
    opacity: .8;
}

#showRules {
    background: #f5f5f5;
}

#toggleActive {
    color: white;
    max-width: 6em;
    background: #cc0d13;
}

#toggleActive.disabled {
    background: #3c763d;
}

#toggleActive.disabled .disable {
    display: none;
}

#toggleActive:not(.disabled) .enable {
    display: none;
}

.entry > .panel-list-item {
    cursor: pointer;
}

.entry {
    cursor: pointer;
    border-top: 1px dashed #c6c8ca;
}

.entry:first-child {
    border-top: none;
}

.text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.url {
    color: #80888f;
}

.action {
    font-weight: bold;
}

#records {
    max-height: 30em;
    overflow-y: auto;
    min-width: 30em;
}

#details {
    margin-top: -5px;
    max-width: 60%;
    width: 800px;
    min-width: 100%;
}

#details .panel-list-item {
    height: auto;
    border: 2px;
    cursor: text;
}

#details .panel-list-item:hover {
    background-color: inherit;
}

#details .panel-list-item.disabled {
    font-size: 0.8em;
    color: #777;
}

#details pre {
    word-break: break-all;
    width: 100%;
}

.hidden {
    display: none;
}

.timestamp {
    margin-right: 1.5em;
    color: #777;
    vertical-align: center;
    display: inline-flex;
    line-height: 0;
}

.errorIcon {
    margin-right: 1em;
}

.icon {
    margin-right: 0.4em;
    vertical-align: center;
    display: inline-flex;
}

.text-shortcut {
    text-align: right;
}

.models {
    display: none;
}

.copyButton {
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-left: 1em;
    border: none;
}

.copyButton img {
    margin-left: -8px;
}

.copyButton:hover {
    background-color: #ebebeb;
}

/* Copied tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.3em;
    border-radius: 2px;

    position: absolute;
    z-index: 1;
    top: -5px;
    right: 120%;
    opacity: 0;
    transition: opacity 0.4s;
}

.copied .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border: 5px solid;
    border-color: transparent transparent transparent #333;
}

.tags {
    margin-right: 1em;
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}