/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    height: 100%;
    color: #000000;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: .8em;
}

.content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.header {
    display: flex;
    border-top: 1px solid #cdcdcd;
    flex-shrink: 0;
}

#records {
    padding: 0 .3em;
    flex-grow: 1;
    overflow-y: auto;
}

.header > .btn {
    padding: .8em;
    display: inline-flex;
}

.header > .btn:first-child {
    flex-grow: 1;
}

.entry-header {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
    padding: .2em 0;
}

.entry-header:hover {
    cursor: pointer;
    background: #f7f7f7;
}

.entry-header > * {
    display: inline-block;
    flex: none;
    margin-right: .3em;
}


.entry-header > .url {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
}

#showRules {
    background: #f5f5f5;
    border-right: 1px solid #cccccc;
}

#showRules:hover {
    background: #e1e1e1;
    cursor: pointer;
}

#toggleActive {
    color: white;
    max-width: 6em;
    background: #cc0d13;
}

#toggleActive:hover {
    opacity: 0.6;
    cursor: pointer;
}

#toggleActive.disabled {
    background: #3c763d;
}

.entry {
    border-top: 1px dashed #c6c8ca;
}

.entry:first-child {
    border-top: none;
}

.url {
    color: #80888f;
}

.action {
    font-weight: bold;
}

.models,
.hidden {
    display: none;
}

#details label,
.timestamp {
    color: #777;
}

.copyButton {
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin: 1em;
    border: none;
    float: right;
}

.copyButton img {
    margin-left: -8px;
}

.copyButton:hover {
    background-color: #ebebeb;
}

/* Copied tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.3em;
    border-radius: 2px;

    position: absolute;
    z-index: 1;
    top: -5px;
    right: 120%;
    opacity: 0;
    transition: opacity 0.4s;
}

.copied .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border: 5px solid;
    border-color: transparent transparent transparent #333;
}
