/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    margin: 0.5em;
    transition: top 0.15s ease-out;
    top: 0;
    z-index: 100;
    background-color: #d50000;
    color: #fff;
    border-radius: 4px;
    padding: 1em;
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: 0 0 5px #888888;
}

#close {
    font-size: 1.5em;
    margin: 0;
    padding: 0 0.3em;
}

#close:hover,
#close:focus {
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
}
