.badge-light {
    color: black;
    background-color: #fff;
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}

.badge-info {
    color: #fff;
    background-color: #a4a4a4;
}

.badge:not(:empty):not(.d-none) {
    display: inline-block;
    padding: .25em .5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    max-width: 100%;
}
