/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
    --font: "Open Sans", sans-serif;
    --primary-color: #3b67a0;
    --light: #b1b1b1;
    --background: rgb(249, 249, 250);
}

body {
    font-size: .9rem;
    background: var(--background);
}

#rulesTab * + * {
    margin-top: 0;
    margin-bottom: 0;
}

.c {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 70em;
}

hr {
    border-color: var(--light);
    border-width: 1px;
    border-bottom: none;
}

#settingsTab h3 {
    margin: 0;
}

#version {
    margin: 0;
}

code {
    color: brown;
}

.card {
    border-width: 2px;
}

.card:focus {
    border-color: #3d7e9a;
}

.btn {
    display: inline-flex;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    padding: .4em .5em;
    text-transform: initial;
    letter-spacing: initial;
    font-size: .9em;
    border-radius: 2px;
    vertical-align: middle;
    background: #e6e6e6;;
    color: rgb(12, 12, 13);;
}

.btn:disabled {
    opacity: .6;
    cursor: default;
}

.btn-danger {
    background: #ff3d33;
    border-color: #ff3d33;
    color: white;
}

.btn.primary {
    background: var(--primary-color);
    border: none;
    font-weight: bold;
}

.rule.disabled .btn-activate {
    background: green;
    border-color: green;
    color: white;
}

.btn.active {
    border-color: #3d7e9a;
}

.btn > img {
    margin-right: .5em;
}

.btn > .badge {
    margin-left: .5em;
}

.btn > span {
    margin: 0;
}

#settingsTab .btn {
    padding: .6em;
}

form .btn {
    border: none;
    padding: 0;
    background: none;
    color: black;
}

form .btn > input {
    margin-right: .5em;
}

form .card,
form .card:focus {
    border: 1px solid #ccc;
    background: white;
    padding: .2em;
    font-size: .9em;
    border-radius: 2px;
}

form select.scheme,
form select.scheme:focus {
    padding-top: .4em;
    padding-bottom: .4em;
}

form .row {
    border-spacing: 0;
}

.rule-input-area .row {
    margin-bottom: .3em !important;
}

.form-header {
    font-weight: bold;
    margin-bottom: .3em !important;
}

.d-none {
    display: none !important;
}

.v-hidden {
    visibility: hidden;
}

#tabs {
    display: flex;
    align-items: center;
}

.tab-pane:not(.active) {
    display: none;
}

.tab-selector {
    display: flex;
    align-items: center;
    padding: 0 .8em;
}

.tab-selector.active {
    color: #343a40;
    font-size: 1em;
}

.tab-selector > img {
    margin-right: .3em;
}

.tab-selector > span {
    margin: .5em auto;
}

.rule-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.rule-list.collapsed {
    height: 0;
}

.header-rules:not(.d-none) {
    display: flex;
    align-items: center;
    padding: .2em 0;
    font-size: .9em;
}

.header-rules > * {
    margin-right: .5em;
}

.header-rules > * + * {
    margin-top: .2em;
    margin-bottom: .2em;
}

.select-all-rules,
.rule-select {
    margin: 0 .8rem;
    display: flex;
}

.rule-select > input {
    margin: 0;
}

.header-rules > .collapse-button {
    margin-left: auto;
    margin-right: 1em;
}

.header-rules > .collapse-button:before {
    vertical-align: middle;
}

.collapse-button:hover {
    cursor: pointer;
    color: #343a40;
    -moz-user-select: none;
}

.collapse-button:before {
    content: "";
    display: inline-block;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: .4em solid #343a40;
    border-bottom: none;
    vertical-align: super;
    margin-right: .3em;
}

.collapse-button.collapsed:before {
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: none;
    border-bottom: .4em solid #343a40;
}

.collapse-button.plus:before {
    content: "+";
    border: none;
    vertical-align: baseline;
    font-weight: bold;
}

.collapse-button.plus.collapsed:before {
    content: "-";
}

.rule {
    position: relative;
    margin: 0;
}

.rule.disabled > .rule-header {
    color: grey;
}

.rule-header {
    border-top: 1px solid #cfcfcf;
    line-height: 1.3;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.rule:not(.editing).disabled > .rule-header {
    background: #f7f7f7;
}

.rule:not(.editing).selected > .rule-header {
    background: #e0e9f7;
}

.rule:not(.editing).saved > .rule-header {
    border-left: 2px solid green;
}

.rule.error > .rule-header {
    border-left: 2px solid red;
}

.rule:not(.editing).new > .rule-header {
    border-left: 2px solid orange;
}

.rule-header-title {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
}

.rule-header > .information {
    text-align: right;
    vertical-align: middle;
}

.rule-header > .information > .badge {
    white-space: nowrap;
    overflow: -moz-hidden-unscrollable;
    text-overflow: ellipsis;
}

.editing .rule-header {
    border-bottom: 1px solid #f5f5f5;
    padding-top: .3em;
    padding-bottom: .3em;
}

.rule:not(.editing) .rule-header .edit-label {
    display: none;
}

.rule:not(.editing) .rule-header {
    padding: .1em 0;
}

.editing .rule-header > div:first-child > div {
    max-height: 10em;
    overflow-y: auto;
}

.rule.editing .btn-edit,
#newRules .btn-done,
.rule-list:not(#newRules) .btn-create,
.rule:not(.editing) .btn-done,
.rule.editing .information {
    display: none;
}

.rule:not(.editing) .title,
.rule:not(.editing) .description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 48em;
}

.rule:not(.editing) [class$="-wrap"] {
    display: flex;
    align-items: baseline;
}

.rule:not(.editing) .description,
.rule:not(.editing) .tag-wrap {
    display: none;
}

.rule-header div[class$=-wrap] > .badge {
    padding: 0;
}

.rule-header .title[contenteditable],
.rule-header .description[contenteditable],
.rule-header .tag[contenteditable] {
    -moz-user-select: text;
    cursor: auto;
    color: #4b4b4b;
}

.rule-header .title[contenteditable]:hover,
.rule-header .description[contenteditable]:hover,
.rule-header .rule-header .tag[contenteditable]:hover,
.rule-header .title[contenteditable]:focus,
.rule-header .description[contenteditable]:focus,
.rule-header .tag[contenteditable]:focus {
    color: black;
}

.header-info-wrap {
    display: flex;
    align-items: center;
    text-align: end;
}

.col-trim-parameters {
    display: flex;
}

.col-trim-parameters > :first-child {
    flex: 1;
}

.more-types {
    margin: 0 !important;
}

.tags-input {
    margin-bottom: .3em !important;
}

.alert {
    position: fixed;
    right: .5em;
    transition: bottom 0.15s ease-out;
    bottom: -6em;
    z-index: 100;
    background-color: #d50000;
    color: #fff;
    border-radius: 4px;
    padding: 1em;
    font-weight: bold;
    font-size: .9em;
    box-shadow: 0 0 5px #888888;
}

.alert.show {
    bottom: 0;
}

.modal.show {
    display: block;
}

input:not(:checked) + .icon {
    filter: grayscale(100%);
}

.manual-block-collapse {
    cursor: pointer;
    -moz-user-select: none;
}

.manual-content {
    max-width: 42em;
    margin-left: 0;
}

.manual-content body {
    background: none;
    padding: 0;
}

.manual-content h1 {
    display: none;
}

.manual-content td:first-child {
    white-space: nowrap !important;
}

.manual-content colgroup {
    display: none;
}

.manual-content table {
    width: 100%;
    overflow-x: auto;
}

.manual-content td,
.manual-content th {
    padding: .3em;
    border-width: 1px;
}

pre {
    padding: .6em;
    border-width: 1px;
}

.manual-content table p {
    margin: 0;
}

.toc {
    top: 0;
    float: right;
    max-width: 18em;
}

.toc ul {
    line-height: 2;
}

.toc ul ul {
    line-height: 1.5;
    margin-bottom: 0.5em;
    list-style: none;
    padding-left: 1em;
}

.toc .collapse {
    display: none;
}

.toolbar {
    bottom: 0;
    background: var(--background);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2em 0;
    margin: 0;
}

.toolbar > button {
    margin: 0 .5em 0 0;
}

.toolbar > button:last-child {
    margin-right: 0;
}

.license-clause {
    width: 38em;
    white-space: pre-wrap;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.24);
    margin: 0;
}

.modal-content {
    background-color: #fefefe;
    margin: 1em auto;
    border: 1px solid black;
    max-width: 40em;
    position: relative;
}

#changelogModal h6 {
    margin: 0;
}

.close {
    position: absolute;
    top: 0.2em;
    right: 0;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: .5em;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
}

.test-result {
    background: black;
    color: white;
    font-weight: bold;
    padding: .2em .5em;
    word-break: break-all;
    width: 100%;
    display: flex;
    align-items: baseline;
}

@media (min-height: 400px) {
    .toolbar,
    .toc {
        position: sticky;
    }

    .btn.bottom {
        display: none;
    }
}

@media (max-width: 992px) {
    .toc {
        display: none;
    }
}

@media (min-width: 35em) {
    .rule-header-buttons {
        min-width: 10em;
        text-align: center;
    }

    .rule:not(.editing) .title:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .rules-block {
        border: 1px solid #d4d4d4;
        background: white;
        border-radius: .15rem;
        margin-bottom: 1.3em !important;
        box-shadow: 0 0 1px 0 rgba(0,0,0,0.25);
    }

    .form-group-pattern {
        display: flex;
        margin: 0;
    }

    .form-group-pattern > div {
        margin-right: 1em;
        flex-grow: 1;
    }

    .form-group-pattern > div:first-child {
        flex-grow: 0;
    }

    .form-wrap {
        display: flex;
        align-items: center;
    }

    .form-wrap > div:first-child {
        flex-grow: 1;
    }

    .form-wrap .any-wrap {
        min-width: 6em;
        white-space: nowrap;
        display: flex;
    }

    .url-wrap:not(.d-none) + div {
        margin-top: 1.3em !important;
    }
}

@media (max-width: 35em) {
    .select-all-rules,
    .rule-select,
    .tab-selector:not(.active) > span {
        display: none;
    }

    .rules-block {
        margin-bottom: 1.3em !important;
    }

    .rule.editing > .rule-header div[class$=-wrap] {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: .6em !important;
    }

    .rule-header {
        line-height: 1.5;
        flex-direction: column;
        align-items: initial;
    }

    .header-info-wrap {
        justify-content: space-between;
    }

    body {
        margin: 0;
    }

    .rule.selected > .rule-header {
        background: #f8f7ff;
    }

    .rule-input {
        padding: 0;
    }

    #tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #tabs > .col {
        margin: 0;
    }

    .license-clause {
        max-width: 100%;
        white-space: normal;
    }
}

@media (min-width: 42em) {
    #selectedRules {
        display: none;
    }
}

@media (max-width: 42em) {
    .mobile-toolbar {
        display: none;
    }

    .mobile-toolbar > button {
        opacity: 1;
        font-size: 1em;
        justify-content: space-evenly;
        height: 20%;
        max-height: 10em;
        border: none;
        margin-bottom: .2em !important;
    }

    .mobile-toolbar > button > img {
        width: 2em;
    }

    .mobile-toolbar.show {
        display: flex;
        flex-direction: column-reverse;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        justify-content: center;
        background: #141313d9;
    }

    #selectedRules {
        z-index: -1;
    }

    #selectedRules .total-selected-count {
        margin: 0 .5em;
    }
}
