/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
    --font: "Open Sans", sans-serif;
    --primary-color: #315685;
    --light: #eee;
}

hr {
    border-color: #eee;
    border-width: 1px;
}

#settingsTab h3 {
    margin: 0;
}

#version {
    margin: 0;
}

code {
    color: brown;
}

.card {
    border-width: 2px;
}

.card:focus {
    border-color: #3d7e9a;
}

.btn {
    display: inline-flex;
    align-items: center;
    border: 1px solid #343a40;
    cursor: pointer;
    padding: .6em;
}

.btn:disabled {
    opacity: .6;
}

.btn-dark {
    background: #343a40;
    color: white;
}

.btn-danger {
    background: #ff3d33;
    border-color: #ff3d33;
    color: white;
}

.btn.primary {
    background: #3d7e9a;
    border-color: #3d7e9a;
}

.btn * + * {
    margin: 0;
}

.btn.active {
    border-color: #3d7e9a;
}

.btn > img {
    margin-right: .5em;
}

.btn > .badge {
    margin-left: .5em;
}

#settingsTab .btn {
    padding: 1em;
}

form .btn {
    border: none;
    padding: 0;
}

form .btn > input {
    margin-right: .5em;
}

form .card,
form .card:focus {
    border: 1px solid #666;
    background: none;
    padding: .2em;
    font-size: .9em;
}

form .row {
    border-spacing: 0;
}

.d-none {
    display: none;
}

.v-hidden {
    visibility: hidden;
}

#pageTitle {
    margin: 0;
}

#tabs {
    display: flex;
    align-items: center;
}

.tab-pane:not(.active) {
    display: none;
}

.tab-selector {
    display: flex;
    align-items: center;
    padding: 0 .8em;
}

.tab-selector.active {
    color: #343a40;
}

.tab-selector > img {
    margin-right: .3em;
}

.tab-selector > span {
    margin: .5em auto;
}

.rule-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.rule-list.collapsed {
    height: 0;
}

.header-rules:not(.d-none) {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header-rules > * {
    margin-right: .5em;
}

.header-rules > .select-all-rules {
    width: 5%;
    margin: 0 1.2em;
}

.header-rules > .collapse-button {
    margin-left: auto;
    margin-right: 1em;
    display: block;
    padding: 0.5em;
}

.collapse-button > span {
    display: block;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: .4em solid #343a40;
    border-bottom: none;
}

.collapse-button.collapsed > span {
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: none;
    border-bottom: .4em solid #343a40;
}

.rule {
    position: relative;
}

.rule.disabled > .rule-header {
    color: grey;
}

.rule-header {
    table-layout: fixed;
    border-top: 1px solid #e1e1e1;
}

.rule:not(.editing) .rule-header * + * {
    margin: .3em 0;
}

.editing .rule-header {
    border-bottom: 1px solid #f5f5f5;
    padding-top: 1em;
    padding-bottom: 1em;
}

.rule:not(.editing) .rule-header .edit-label {
    display: none;
}

.editing .rule-header > div:first-child > div {
    max-height: 10em;
    overflow-y: auto;
}

.header-rules,
.rule-header,
.title,
.description {
    -moz-user-select: none;
    cursor: pointer;
}

.rule:not(.editing) .title,
.rule:not(.editing) .description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.rule:not(.editing) .tag-wrap {
    display: none;
}

.rule.editing > .rule-header div[class$=-wrap] {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.rule-header div[class$=-wrap] > .badge {
    padding: 0;
}

.rule-header .title[contenteditable],
.rule-header .description[contenteditable],
.rule-header .tag[contenteditable] {
    -moz-user-select: text;
    cursor: auto;
    color: #4b4b4b;
}

.rule-header .title[contenteditable]:hover,
.rule-header .description[contenteditable]:hover,
.rule-header .rule-header .tag[contenteditable]:hover,
.rule-header .title[contenteditable]:focus,
.rule-header .description[contenteditable]:focus,
.rule-header .tag[contenteditable]:focus {
    color: #666;
}

.alert {
    position: fixed;
    right: .5em;
    transition: bottom 0.15s ease-out;
    bottom: -6em;
    z-index: 100;
    background-color: #d50000;
    color: #fff;
    border-radius: 4px;
    padding: 1em;
    font-weight: bold;
    font-size: .9em;
    box-shadow: 0 0 5px #888888;
}

.alert.show {
    bottom: 0;
}

.modal.show {
    display: block;
}

input:not(:checked) + .icon {
    filter: grayscale(100%);
}

.manual-block-collapse {
    cursor: pointer;
    -moz-user-select: none;
}

.match-patterns {
    font-size: 0.95em;
    padding-top: 0.3em;
}

.manual-content {
    max-width: 42em;
    margin-left: 0;
}

.manual-content body {
    background: none;
    padding: 0;
}

.manual-content h1 {
    display: none;
}

.manual-content td:first-child {
    white-space: nowrap!important;
}

.manual-content colgroup {
    display: none;
}

.manual-content table {
    width: 100%;
    overflow-x: auto;
}

.toc {
    top: 0;
    float: right;
}

.toc ul {
    line-height: 2;
}

.toc ul ul {
    line-height: 1.5;
    margin-bottom: 0.5em;
    list-style: none;
    padding-left: 2em;
}

.toc .collapse {
    display: none;
}

.toolbar {
    bottom: 0;
    background: white;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2em 0;
}

.toolbar > button {
    margin: 0 .5em 0 0;
    padding: .6em .5em;
}

.toolbar > button:last-child {
    margin-right: 0;
}

.license-clause {
    width: 38em;
    white-space: pre-wrap;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.24);
    margin: 0;
}

.modal-content {
    background-color: #fefefe;
    margin: 1em auto;
    border: 1px solid black;
    max-width: 40em;
    position: relative;
}

#changelogModal h6 {
    margin: 0;
}

.close {
    position: absolute;
    top: 0.2em;
    right: 0;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: .5em;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
}

.test-result {
    background: black;
    color: white;
    font-weight: bold;
    padding: .2em .5em;
    word-break: break-all;
    width: 100%;
    display: flex;
    align-items: baseline;
}

@media (min-height: 400px) {
    .toolbar,
    .toc {
        position: sticky;
    }
}

@media (max-width: 992px) {
    .toc {
        display: none;
    }
}

@media (min-width: 35em) {
    .rule-select,
    .rule-header-buttons {
        vertical-align: middle;
        text-align: center;
    }
}

@media (max-width: 35em) {
    #pageTitle,
    .select-all-rules,
    .rule-select,
    .tab-selector:not(.active) > span {
        display: none;
    }

    .c {
        padding-top: 0;
        padding-bottom: 0;
    }

    body {
        margin: 0;
    }

    .rule.selected > .rule-header {
        background: #f8f7ff;
    }

    .rule-input {
        padding: 0;
    }

    #tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #tabs > .col {
        margin: 0;
    }

    .license-clause {
        max-width: 100%;
        white-space: normal;
    }
}

@media (min-width: 42em) {
    #selectedRules {
        display: none;
    }
}

@media (max-width: 42em) {
    .mobile-toolbar {
        display: none;
    }

    .mobile-toolbar * + * {
        margin: 0;

    }

    .mobile-toolbar > button {
        opacity: 1;
        font-size: 1em;
        justify-content: space-evenly;
        height: 20%;
        max-height: 10em;
        border: none;
        margin-bottom: .2em;
    }

    .mobile-toolbar > button > img {
        width: 2em;
    }

    .mobile-toolbar.show {
        display: flex;
        flex-direction: column-reverse;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        justify-content: center;
        background: #141313d9;
    }

    #selectedRules {
        z-index: 1;
    }

    #selectedRules .total-selected-count {
        margin: 0 .5em;
    }
}
