/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
    --font: "Open Sans", sans-serif;
    --primary-color: #3b67a0;
    --light: #b1b1b1;
    --background: rgb(249, 249, 250);
    --text-color: rgb(0, 0, 0);
}

body {
    font-size: 0.9rem;
    background: var(--background);
    color: var(--text-color);
}

#tab-rules * + * {
    margin-top: 0;
    margin-bottom: 0;
}

#tab-settings h3 {
    margin: 0;
}

#version {
    margin: 0;
}

#tab-settings .btn {
    padding: 0.6em;
}

#tabs {
    display: flex;
    align-items: center;
}

#changelogModal h6 {
    margin: 0;
}

.tab-pane:not(.active) {
    display: none;
}

.tab-selector {
    display: flex;
    align-items: center;
    padding: 0 0.8em;
}

.tab-selector.active {
    color: #343a40;
    font-size: 1em;
}

.tab-selector > img {
    margin-right: 0.3em;
}

.tab-selector > span {
    margin: 0.5em auto;
}

.alert {
    position: fixed;
    right: 0.5em;
    transition: bottom 0.15s ease-out;
    bottom: -6em;
    z-index: 100;
    background-color: #d50000;
    color: #fff;
    border-radius: 4px;
    padding: 1em;
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: 0 0 5px #888888;
}

.alert.show {
    bottom: 0;
}

.modal.show {
    display: block;
}

.manual-block-collapse {
    cursor: pointer;
    -moz-user-select: none;
}

.manual-content {
    max-width: 42em;
    margin-left: 0;
}

.manual-content body {
    background: none;
    padding: 0;
}

.manual-content h1 {
    display: none;
}

.manual-content td:first-child {
    white-space: nowrap !important;
}

.manual-content colgroup {
    display: none;
}

.manual-content table {
    width: 100%;
    overflow-x: auto;
}

.manual-content td,
.manual-content th {
    padding: 0.3em;
    border-width: 1px;
}

.manual-content table p {
    margin: 0;
}

.toc {
    top: 0;
    float: right;
    max-width: 18em;
}

.toc ul {
    line-height: 2;
}

.toc ul ul {
    line-height: 1.5;
    margin-bottom: 0.5em;
    list-style: none;
    padding-left: 1em;
}

.toc .collapse {
    display: none;
}

.toolbar {
    bottom: 0;
    background: var(--background);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em 0;
    margin: 0;
}

.toolbar > button {
    margin: 0 0.5em 0 0;
}

.toolbar > button:last-child {
    margin-right: 0;
}

.license-clause {
    width: 38em;
    white-space: pre-wrap;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.24);
    margin: 0;
}

.modal-content {
    background-color: #fefefe;
    margin: 1em auto;
    border: 1px solid black;
    max-width: 40em;
    position: relative;
}

.modal .close {
    position: absolute;
    top: 0.1em;
    right: 0;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 0.5em;
}

.alert .close {
    font-size: 1.5em;
    margin-left: 0.5em;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
}

.test-result {
    background: black;
    color: white;
    font-weight: bold;
    padding: 0.2em 0.5em;
    word-break: break-all;
    width: 100%;
    display: flex;
    align-items: baseline;
}

@media (min-height: 400px) {
    .toolbar,
    .toc {
        position: sticky;
    }
}

@media (max-width: 992px) {
    .toc {
        display: none;
    }
}

@media (min-width: 35em) {
    rule-list {
        display: block;
        border: 1px solid #d4d4d4;
        background: white;
        border-radius: 0.15rem;
        margin-bottom: 1.3em !important;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 35em) {
    body {
        margin: 0;
    }

    rule-list {
        margin-bottom: 1.3em !important;
    }

    #tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #tabs > .col {
        margin: 0;
    }

    .tab-selector:not(.active) > span {
        display: none;
    }

    .license-clause {
        max-width: 100%;
        white-space: normal;
    }
}

@media (min-width: 42em) {
    #selectedRules {
        display: none;
    }
}

@media (max-width: 42em) {
    #selectedRules {
        z-index: -1;
    }

    #selectedRules .total-selected-count {
        margin: 0 0.5em;
    }

    .mobile-toolbar {
        display: none;
    }

    .mobile-toolbar > .btn {
        opacity: 1;
        font-size: 1em;
        justify-content: space-evenly;
        height: 20%;
        max-height: 5em;
        border: none;
        margin-bottom: 0.2em !important;
    }

    .mobile-toolbar > .btn > img {
        width: 2em;
    }

    .mobile-toolbar.show {
        display: flex;
        flex-direction: column-reverse;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        justify-content: center;
        background: #141313d9;
    }
}
