/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

form .btn:not(button) {
    border: none;
    padding: 0;
    background: none;
    color: black;
}

form .btn > input {
    margin-right: 0.5em;
}

form .card,
form .tags-input,
form .card:focus {
    border: 1px solid #ccc;
    background: white;
    padding: 0.2em;
    font-size: 0.9em;
    border-radius: 2px;
}

form select.scheme,
form select.scheme:focus {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

form .row {
    border-spacing: 0;
}

.row {
    margin-bottom: 0.3em !important;
}

.form-header {
    font-weight: bold;
    margin-bottom: 0.3em !important;
}

.rule-select {
    margin: 0 0.8rem;
    display: flex;
}

.rule-select > input {
    margin: 0;
}

.disabled:not(.editing) > .rule-header {
    color: grey;
}

.disabled .btn-activate {
    background: green;
    border-color: green;
    color: white;
}

.rule-header {
    border-top: 1px solid #cfcfcf;
    line-height: 1.3;
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding: 0.1em 0;
}

.disabled:not(.editing) > .rule-header {
    background: #f7f7f7;
}

.selected:not(.editing) > .rule-header {
    background: #e0e9f7;
}

.rule-header-title {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
}

.rule-header > .information {
    text-align: right;
    vertical-align: middle;
}

.rule-header > .information > .badge {
    white-space: nowrap;
    overflow: -moz-hidden-unscrollable;
    text-overflow: ellipsis;
}

.editing .rule-header {
    border-bottom: 1px solid #f5f5f5;
    padding: 0.3em 0;
}

.editing .rule-header > div:first-child > div {
    max-height: 10em;
    overflow-y: auto;
}

.btn-delete {
    float: right;
}

.rule-input-buttons {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.rule-input {
    padding-top: 0.3em;
}

.title:not([contenteditable="true"]) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 48em;
}

.rule-header div[class$="-wrap"] {
    display: flex;
    align-items: baseline;
    user-select: none;
}

.editing .rule-header div[class$="-wrap"] {
    display: block;
}

.rule-header div[class$="-wrap"] > .badge {
    padding: 0;
}

.rule-header .title[contenteditable="true"],
.rule-header .description[contenteditable="true"],
.rule-header .tag[contenteditable="true"] {
    color: #4b4b4b;
}

.rule-header .title[contenteditable="true"]:hover,
.rule-header .description[contenteditable="true"]:hover,
.rule-header .tag[contenteditable="true"]:hover,
.rule-header .title[contenteditable="true"]:focus,
.rule-header .description[contenteditable="true"]:focus,
.rule-header .tag[contenteditable="true"]:focus {
    color: black;
}

.header-info-wrap {
    display: flex;
    align-items: center;
    text-align: end;
}

.col-trim-parameters {
    display: flex;
}

.col-trim-parameters > :first-child {
    flex: 1;
}

.more-types {
    margin: 0 !important;
}

.redirectUrl {
    padding: 0.4em !important;
    box-sizing: border-box;
}

.tags-input {
    margin-bottom: 0.3em !important;
}

@media (min-width: 35em) {
    .rule-header-buttons {
        min-width: 10em;
        text-align: center;
    }

    .title:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .editing .title:hover {
        text-decoration: initial;
        cursor: initial;
    }

    .new:not(.editing) > .rule-header,
    .saved:not(.editing) > .rule-header {
        border-left: 2px solid green;
    }

    .error > .rule-header {
        border-left: 2px solid red;
    }

    .merged:not(.editing) > .rule-header {
        border-left: 2px solid orange;
    }

    .form-group-pattern {
        display: flex;
        margin: 0;
        flex-flow: row wrap;
    }

    .form-group-pattern > div {
        flex-grow: 1;
    }

    #tlds-form,
    .form-group-pattern > div {
        margin-right: 1em;
    }

    .form-group-pattern > div:first-child {
        flex-grow: 0;
    }

    .form-wrap {
        display: flex;
        align-items: center;
    }

    .form-wrap > div:first-child {
        flex-grow: 1;
    }

    .form-wrap .any-wrap {
        min-width: 6em;
        white-space: nowrap;
        display: flex;
    }

    .url-wrap:not(.d-none) + div {
        margin-top: 2em !important;
        align-self: flex-start;
    }
}

@media (max-width: 35em) {
    .editing > .rule-header div[class$="-wrap"] {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 0.6em !important;
    }

    .editing .header-info-wrap,
    .rule-select {
        display: none !important;
    }

    .information::before {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.3em;
    }

    .new:not(.editing) .information::before,
    .saved:not(.editing) .information::before {
        background: green;
        content: "";
    }

    .error .information::before {
        background: red;
        content: "";
    }

    .merged:not(.editing) .information::before {
        background: orange;
        content: "";
    }

    .rule-header {
        line-height: 1.5;
        flex-direction: column;
        align-items: initial;
    }

    .header-info-wrap {
        justify-content: space-between;
    }

    .selected > .rule-header {
        background: #f8f7ff;
    }

    .rule-input {
        padding: 0;
    }
}
