.badge-light {
    color: black;
    background-color: #e1e0e0;
}

.badge-dark {
    color: white;
    background-color: #3f3f3f;
}

.badge-info {
    color: #fff;
    background-color: #3b67a0;
}

.badge-origin {
    color: #fff;
    background-color: #a03b3b;
}

.badge-success {
    color: #fff;
    background-color: #3ba03b;
}

.badge:not(:empty):not(.d-none) {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.15rem;
    max-width: 100%;
}
