/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    background-color: #f5f5f5;
    padding: 28px;
    padding-top: 0;
}

.text-success {
    transition: opacity .15s ease-in-out;
    opacity: 0;
}

.text-success.fade {
    opacity: 1;
}

.glyphicon-question-sign::after {
    content: "";
    background-image: url("chrome://browser/skin/menuPanel-help.png");
    width: 16px;
    height: 14px;
    display: inline-block;
    background-position: 48px;
}

h4 {
    margin-top: 1.5em;
}

/* Some bootstrap glyph icons with UTF-8 variants */
.glyphicon-plus::after {
    content: "\2795";
}

.glyphicon-floppy-disk::after {
    content: "\1F5AB";
}

.glyphicon-ok::after {
    content: "\2713";
}

.glyphicon-remove::after {
    content: "\1F5D9";
}

.glyphicon-trash::after {
    content: "\2718";
}

.glyphicon-off::after {
    content: "\25FC";
}

.glyphicon-flash::after {
    content: "\1F5F2";
}